.list-group {
    margin-bottom: 1rem;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .75rem; */
}
.list-group-item span {
    cursor: pointer;
}
.list-group-item .form-group {
    margin-bottom: 0;
}
.list-group-item .form-group .btn {
    min-width: 40px;
    margin: 0 3px;
}
